:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

* {
    font-family: 'Epilogue', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    font-size: 62.5%;
}

body {
    font-family: 'Epilogue', sans-serif;
    background-color: var(--almost-white);
    overflow-x: hidden;
}

.menu-btn {
    position: absolute;
    position: fixed;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
}

.menu-btn__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 24px;
    height: 3px;
    background: black;
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
    content: "";
    position: absolute;
    top: -8px;
    width: 26px;
    height: 3px;
    background: black;
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
    content: "";
    position: absolute;
    top: 8px;
    width: 22px;
    height: 3px;
    background: black;
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
    transform: rotate(720deg);
    background: transparent;
}

.menu-btn__burger.open::before {
    transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
    width: 28px;
    transform: rotate(-45deg) translate(3px, -7px);
}


.navbar {
    width: 100%;
    margin: 1.5rem 3rem;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    flex-grow: 1;
    margin-left: 3rem
}

.nav-links {
    margin: ;
    display: flex;
    align-items: center;
    justify-items: center;
}

.nav-link {
    display: flex;
    align-items: center;
    margin: 0 2rem;
    gap: 5px;
    text-decoration: none;
    color: var(--medium-gray);
}

.nav-links {
    list-style-type: none;
    display: flex;

}

.nav-link:hover,
.nav-link:active {
    color: var(--almost-black);
    transition: 0.4s;
}

.right {
    margin-left: auto;
    margin-right: 2.5rem;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.right .nav-right {
    padding: 0 1rem;
    text-decoration: none;
}

.right .register-btn {
    border: 1px solid;
    padding: .5em 1.7rem;

}

.register-btn {
    color: var(--medium-gray);
    background-color: var(--almost-white);
    border: 1px solid var(--medium-gray);
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    padding: 1rem;
    margin-right: 5rem;
    cursor: pointer;
}

.register-btn:hover,
.register-btn:active {
    border-color: var(--almost-black);
    color: var(--almost-black);
    transition: 0.4s;
}

.features,
.company {
    position: relative;
}

.features-dropdown,
.company-dropdown {
    z-index: 100;
    list-style-type: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--medium-gray);
    background-color: #fff;
    padding: 1.8rem;
    border-radius: 1.5rem;
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.2);
    transition: opacity 0.25s;
    opacity: 1;
}


.features-dropdown {
    left: -25%;
    transform: translate(-30%, 8%);
}

.company-dropdown {
    transform: translateY(8%);
    min-width: 12rem;
}

.dropdown-items {
    display: flex;
    gap: 2rem;
}

.dropdown-item {
    text-decoration: none;
    font-size: 15px;
    color: var(--medium-gray);
}

.dropdown-item:hover,
.dropdown-item:active {
    color: var(--almost-black);
}

.hide-content {
    opacity: 0;
    transition: opacity 0.25s;
}


/**      Main     **/

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 7% 0;
}

.colmn-1 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 40%;
    /* padding-left: 9.5%; */
}

.colmn-1 h1 {
    font-size: 60px;
}

.colmn-1 p {
    font-size: 16px;
    color: var(--medium-gray);
    font-weight: 300;
    padding: 2rem 0;
    margin: 4rem 0;
}

button {
    width: 120px;
    padding: 1.5rem;
    border-radius: 10px;
    background: var(--almost-black);
    color: var(--almost-white);
    transition: .5s;
}

button:hover {
    color: var(--almost-black);
    background: var(--almost-white);
}

.clients {
    position: absolute;
    bottom: -15rem;
}

.clients img {
    margin-right: 2rem;
    width: 75px;
}

.colmn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 60%
    width: 100%;
    height: auto;
}

.desktop {
    display: initial;
}
.mobile {
    display: none;
}

 .colmn-2 .desktop {
    width: 100%;
    height: 100vh;
    
}



@media screen and (max-width: 769px) {
    .row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
       
    }


    .menu-btn {
        z-index: 10;
        visibility: visible;
    }

    nav {
        margin-top: 0;
        visibility: hidden;
    }

    nav.open {
        visibility: visible;
    }


    nav {
        display: flex;
        position: fixed;
        z-index: 10;
        flex-flow: column;
        align-items: center;
        margin-top: 25rem;
        justify-content: center;
        height: 100vh;
        width: -100%;
        background: var(--almost-white);
        list-style-type: none;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }

    nav .nav-links.open {
        transform: translateX(0);
    }

    nav .menu-nav__item {
        transform: translateX(100vw);
        transition: all 0.5s ease-in-out;
    }

    nav .menu-nav__item.open {
        transform: translateX(0);
    }

    nav .nav-links{
        margin-bottom: 3.5rem;
    }

    .nav-links {
        list-style-type: none;
        display: block;

    }

    .right {
        display: flex;
        display: inline-block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .right .nav-link {
        text-align: center;

    }

    .right .register-btn {
        display: inline-block;
        text-align: center;
        margin-left: 5rem;
        margin-top: 2rem;
        width: 150px;
    }
    

    nav .nav-links {
        padding: 2rem 0;
        display: inline-block;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 2rem 0;
        transition: all 0.5s ease-in-out;
    }
    
    .colmn-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
    }

    .colmn-1 h1 {
        font-size: 36px;
        padding: 0;
        margin: 0;
    }
    .colmn-1 p {
        font-size: 16px;
        font-weight: 100;
        padding: 0;
        margin: 2.5rem 1.5rem;
        line-height: 2.5rem;
    }

    .colmn-2 {
        margin-bottom: 5rem;
        
    }

    .colmn-2 .desktop {
        display: none;

    }
   .colmn-2 .mobile {
        display: initial;
        width: 100%;
        height: auto;
    }
    .clients {
        text-align: center;
        bottom: -40%;
        border: 1px solid; /*Reminder: Adjust to the center */
    }
    
    .clients img {
        width: 70px;
        padding: 1%;
        align-items: center;
    }
    
}