:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
}

* {
    font-family: 'Epilogue', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Epilogue', sans-serif;
    background-color: var(--almost-white);
    overflow-x: hidden;
}

.menu-btn {
    position: absolute;
    position: fixed;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
}

.menu-btn__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 24px;
    height: 3px;
    background: black;
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
    content: "";
    position: absolute;
    top: -8px;
    width: 26px;
    height: 3px;
    background: black;
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger::after {
    content: "";
    position: absolute;
    top: 8px;
    width: 22px;
    height: 3px;
    background: black;
    transition: all 0.5s ease-in-out;
}

.menu-btn__burger.open {
    transform: rotate(720deg);
    background: transparent;
}

.menu-btn__burger.open::before {
    transform: rotate(45deg) translate(5px, 8px);
}

.menu-btn__burger.open::after {
    width: 28px;
    transform: rotate(-45deg) translate(3px, -7px);
}


.navbar {
    width: 100%;
    padding: 1rem;
    margin: 0 3rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    flex-grow: 1;
}

.nav-links {
    margin: 0 5rem;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 4rem;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--medium-gray);
}

.nav-link:hover,
.nav-link:active {
    color: var(--almost-black);
    transition: 0.4s;
}

.login-links {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.register-btn {
    color: var(--medium-gray);
    background-color: var(--almost-white);
    border: 1px solid var(--medium-gray);
    cursor: pointer;
    border-radius: 15px;
    width: 100px;
    padding: 1rem;
    margin-right: 5rem;
    cursor: pointer;
}

.register-btn:hover,
.register-btn:active {
    border-color: var(--almost-black);
    color: var(--almost-black);
    transition: 0.4s;
}

.features,
.company {
    position: relative;
}

.features-dropdown,
.company-dropdown {
    z-index: 100;
    list-style-type: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--medium-gray);
    background-color: #fff;
    padding: 1.8rem;
    border-radius: 1.5rem;
    box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.2);
    transition: opacity 0.25s;
    opacity: 1;
}


.features-dropdown {
    left: -25%;
    transform: translate(-30%, 8%);
}

.company-dropdown {
    transform: translateY(8%);
    min-width: 12rem;
}

.dropdown-items {
    display: flex;
    gap: 2rem;
}

.dropdown-item {
    text-decoration: none;
    font-size: 15px;
    color: var(--medium-gray);
}

.dropdown-item:hover,
.dropdown-item:active {
    color: var(--almost-black);
}

.hide-content {
    opacity: 0;
    transition: opacity 0.25s;
}

/**      Main     **/

.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 7%;
}

.colmn-1 {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 40%;
    padding-left: 9.5%;
}

.colmn-1 h1 {
    font-size: 60px;
}

.colmn-1 p {
    font-size: 16px;
    color: var(--medium-gray);
    font-weight: 300;
    padding: 2rem 0;
    margin: 4rem 0;
}

button {
    width: 120px;
    padding: 1.5rem;
    border-radius: 10px;
    background: var(--almost-black);
    color: var(--almost-white);
    transition: .5s;
}

button:hover {
    color: var(--almost-black);
    background: var(--almost-white);
}

.clients {
    position: absolute;
    bottom: -15rem;
}

.clients img {
    margin-right: 2rem;
    width: 75px;
}

.colmn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 60%
}

.colmn-2 picture {
    display: flex;
    max-width: 100vw;
    height: 100vh;
    padding: 2em;
}

.colmn-2 picture img {
    max-width: 100%;
    /* height: 100vh; */
}

.colmn-2 .mobile {
    width: 100%;
}

@media screen and (max-width: 769px) {
    .row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin: 0;
    }

    .colmn-1-content {
        text-align: center;
    }

    .menu-btn {
        visibility: visible;
    }

    nav {
        margin-top: 0;
        visibility: hidden;
    }

    nav.open {
        visibility: visible;
    }

    nav .nav-links {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        background: rgba(124, 122, 122, 0.2);
        list-style-type: none;
        padding-right: 1rem;
        transform: translateX(100%);
        transition: all 0.5s ease-in-out;
    }

    nav .menu-nav.open {
        transform: translateX(0);
    }

    nav .menu-nav__item {
        transform: translateX(100vw);
        transition: all 0.5s ease-in-out;
    }

    nav .menu-nav__item.open {
        transform: translateX(0);
    }

    nav .menu-nav .menu-nav__item {
        margin-bottom: 3.5rem;
    }


    nav .menu-nav__link {
        display: inline-block;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 2rem 0;
        font-weight: 300;
        transition: all 0.5s ease-in-out;
    }
}